.row{
    background-color: #6f99c5;
}
footer{
    color: aliceblue;
    font-size: 14px;
  }
  p{
     position: relative;
     left: 10px;
     display: inline;
  }
  
  .email{
    margin-left: 28%;
  }

  @media  (max-width:478px){
    footer{
      text-align: center;
    }
    .email{
      left: -11%;
    }
      }
    
  